img {
    max-width: 100%
}

.hljs {
    border-radius: 10px;
    padding: 20px !important;
}

.MuiAppBar-colorDefault {
    background-color: white !important;
}

html body table td, html body table th {
    border: 1px solid #d6d6d6;
    padding: 6px 13px;
}

html body table th {
    font-weight: bold;
    color: #000;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

html body table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
}

blockquote {
  margin: 20px auto;
  color: #555555;
  padding: 3px 3px 3px 12px;
  border-left: 8px solid #78C0A8 ;
  position: relative;
  background:#EDEDED;
}

/* blockquote::before {
  content: "\201C";
  color: #78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
} */

/* blockquote::after {
  content: '';
} */

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}
